<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('partials/head'); %>
		<div class="imageheader">
			<a href="/profile" title="Perfil">
				<img src="/img/Logo_Mysky_Javi.png" alt="Perfil" width="140" height="100">
			</a>
		</div>
		<form action="/logout" method="GET">
			<div class="logout">
				<div style="text-align:center;">
					<input type="submit" value="Cerrar sesion" class="btn btn-dark btn-lg">
				</div>
			</div>
		</form>
		<title>Archivo subido</title>
</head>

<body class="profile">
	<br><br><br><br>
	<center>
		<h1>Archivo subido correctamente!</h1><br><br>
		<div class="volver">
			<div style="text-align:center;">
				<a href="/profile" class="btn btn-dark btn-lg">
					<span class="fa fa-user">Volver</span>
				</a>
			</div>
		</div>
	</center>
	<br><br><br>
	<footer id="main-footer">
		<p>Copyright &copy;2021 | Designed by <a href="https://github.com/JvRdgz">Javier Rodriguez Montero</a></p>
	</footer>
</body>

</html>