<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('partials/head'); %>
		<nav>
			<div class="imageheader">
				<a href="/profile" title="Perfil">
					<img src="/img/Logo_Mysky_Javi.png" alt="Perfil" width="120" height="80">
				</a>
			</div>
			<form action="/logout" method="GET">
				<div class="logout">
					<div style="text-align:center;">
						<input type="submit" value="Cerrar sesion" class="button">
					</div>
				</div>
			</form>
			<div class="texto">Mis archivos</div>
			<title>Mis archivos</title>
			<script type="text/javascript" src="/js/showFiles.js"></script>
		</nav>
</head>

<body class="profile">

	<div class="volver">
		<div style="text-align:center;">
			<button id="img-preview">
				Mostrar
			</button>
		</div>
	</div><br><br><br>

	<div class="volver">
		<div style="text-align:center;">
			<a href="/profile" class="button">Volver</a>
		</div>
	</div>
	<footer>
		<p>Copyright &copy;2021 | Propiedad de <a href="https://github.com/JvRdgz">Javier Rodriguez Montero</a></p>
	</footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
	<script type="text/javascript" src="/js/showFiles.js"></script>
</body>

</html>