<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('partials/head'); %>
		<div class="imageheader">
			<a href="/profile" title="Perfil">
				<img src="/img/Logo_Mysky_Javi.png" alt="Perfil" width="140" height="100">
			</a>
		</div>
		<form action="/logout" method="GET">
			<div class="logout">
				<div style="text-align:center;">
					<input type="submit" value="Cerrar sesion" class="btn btn-dark btn-lg">
				</div>
			</div>
		</form>
		<title>Fotos</title>
</head>

<body class="profile">
	<br><br><br>
	<center>
		<table>
			<tr>
				<div class="avatar" style="background-image: url(img/fotos.png)"></div>
			</tr>
			<tr>
				<td>
					<h2>Fotos</h2>
				</td>
			</tr>
		</table>
	</center>
	<br><br><br><br>
	<center>
		<img src="../uploads/avatar-1621113218607.jpg"><br>
		<table>
			<td>
				<tr>
					<form action="/files" enctype="multipart/form-data" method="POST">
						<input type="file" name="avatar" value="Subir" multiple><br><br>
						<input class="button" type="submit" value="Subir">
					</form><br><br><br>
					<div class="volver">
						<div style="text-align:center;">
							<a href="/profile" class="btn btn-dark btn-lg">
								<span class="fa fa-user">Volver</span>
							</a>
						</div>
					</div>
				</tr>
			</td>
		</table>
	</center>
	<br><br><br>
	<footer id="main-footer">
		<p>Copyright &copy;2021 | Designed by <a href="https://github.com/JvRdgz">Javier Rodriguez Montero</a></p>
	</footer>
</body>

</html>