<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('partials/head'); %>
		<header>
			<div class="image">
				<a href="/" , title="Inicio">
					<img src="/img/Logo_Mysky_Javi.png" alt="Inicio" width="120" height="80">
				</a>
			</div>
			<div class="texto">¡Bienvenido a My Sky!</div>
		</header>
		<title>My Sky</title>
</head>

<body class="body">
	<div class="descripcion">
		<p>En My Sky podrás guardar todos tus archivos,
			tanto musica, fotos o videos de forma gratuita y segura.
		</p><br><br>
		<a href="/login" class="button">
			<span class="fa fa-user">Iniciar sesion</span>
		</a><br><br><br>
		<a href="/signup" class="button">
			<span class="fa fa-user">Registrarse</span>
		</a>
	</div>
	<br><br><br>
	<footer id="main-footer">
		<p>Copyright &copy;2021 | Propiedad de <a href="https://github.com/JvRdgz">Javier Rodriguez Montero</a></p>
	</footer>
</body>

</html>