<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <%- include('partials/head'); %>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Sky</title>
        <div class="overlay2">
            <img src="/img/Logo_Mysky_Javi.png" width="80" height="60">
        </div>
</head>

<body class="overlay">
    <div class="container">
        <div class="card text-center mt-5">
            <div class="card-body">
                <a href="/login" class="btn btn-light">
                    <span class="fa fa-user">Iniciar sesion</span>
                </a>
                <a href="/signup" class="btn btn-light">
                    <span class="fa fa-user">Registrarse</span>
                </a>
            </div>
        </div>
        <footer class="footerIndex">
        </footer>
    </div>
</body>

</html>