<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('partials/head'); %>
		<header>
			<div class="image">
				<a href="/" , title="Inicio">
					<img src="/img/Logo_Mysky_Javi.png" alt="Inicio" width="140" height="100">
				</a>
			</div>
			<div class="texto">Inicie sesion</div>
		</header>
		<title>Login</title>
</head>

<body class="body">
	<div class="tituloDescriptivo">
		Indroduzca sus credenciales para iniciar sesion.
	</div>
	<div class="container">
		<div class="col-sm-6 mx-auto">
			<div class="card mt-5">
				<div class="card-body">
					<!-- Si existe algun error, me lo muestra -->
					<% if (message.length) { %>
						<div class="alert alert-danger" role="alert">
							<%= message %>
						</div>
						<% } %>
							<form action="/login" method="POST">
								<div class="form-group">
									<input type="email" name="email" placeholder="email" required="required"
										class="form-control"></input>
								</div>
								<div class="form-group">
									<input type="password" name="password" placeholder="Contraseña" required="required"
										class="form-control"></input>
								</div>
								<div style="text-align:center;">
									<input type="submit" value="Aceptar" class="btn btn-dark btn-lg">
								</div>
							</form>
							<hr>
							<div class="text-center">
								<p>¿Necesitas una cuenta? <a href="/signup">Registrarse</a></p>
								<p>Volver a <a href="/">inicio</a></p>
							</div>
				</div>
			</div>
		</div>
	</div><br><br><br>
	<footer id="main-footer">
		<p>Copyright &copy;2021 | Designed by <a href="https://github.com/JvRdgz">Javier Rodriguez Montero</a></p>
	</footer>
</body>

</html>