<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('partials/head'); %>
		<div class="imageheader">
			<a href="/profile" title="Perfil">
				<img src="/img/Logo_Mysky_Javi.png" alt="Perfil" width="140" height="100">
			</a>
		</div>
		<form action="/logout" method="GET">
			<div class="logout">
				<div style="text-align:center;">
					<input type="submit" value="Cerrar sesion" class="btn btn-dark btn-lg">
				</div>
			</div>
		</form>
		<title>Profile</title>
</head>

<body class="profile">
	<br><br><br>
	<center>
		<table>
			<tr>
				<div class="avatar" style="background-image: url(img/avatar-hombre.jpg)"></div>
			</tr>
			<tr>
				<td>
					<h2>Bienvenido, "USERNAME"</h2>
				</td>
			</tr>
		</table>
	</center>
	<br><br><br>
	<center>
		<table>
			<tr>
			<tr>
				<td>
					<a href="/fotos">
						<div class="iconos" style="background-image: url(img/fotos.png)"></div>
					</a>
				</td>
				<td>
					<a href="/videos">
						<div class="iconos" style="background-image: url(img/videos.png)"></div>
					</a>
				</td>
				<td>
					<a href="/musica">
						<div class="iconos" style="background-image: url(img/musica.png)"></div>
					</a>
				</td>
			</tr>
			</tr>
			<tr>
				<td WIDTH="100" HEIGHT="100">
					<h1>Fotos</h1>
				</td>
				<td WIDTH="100" HEIGHT="100">
					<h1>Videos</h1>
				</td>
				<td WIDTH="100" HEIGHT="100">
					<h1>Musica</h1>
				</td>

			</tr>
		</table>
	</center>
	<br><br><br>
	<footer id="main-footer">
		<p>Copyright &copy;2021 | Designed by <a href="https://github.com/JvRdgz">Javier Rodriguez Montero</a></p>
	</footer>
</body>

</html>