<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('partials/head'); %>
		<div class="imageheader">
			<a href="/profile" title="Perfil">
				<img src="/img/Logo_Mysky_Javi.png" alt="profile" width="120" height="80">
			</a>
		</div>
		<form action="/logout" method="GET">
			<div class="logout">
				<div style="text-align:center;">
					<input type="submit" value="Cerrar sesion" class="button">
				</div>
			</div>
		</form>
		<form action="/files" method="GET">
			<div class="logout">
				<div style="text-align:center;">
					<input type="submit" value="Ver archivos guardados" class="button">
				</div>
			</div>
		</form>
		<title>Profile</title>
</head>

<body class="profile">
	<br>
	<center>
		<h1 class="texto">Bienvenido</h1>
	</center>
	<br><br><br>
	<center>
		<div class="descripcion">
			<p>Seleccione los archivos que quiere subir al servidor.
			</p><br><br>
			<form action="/upload" enctype="multipart/form-data" method="POST">
				<input type="file" name="avatar" value="Subir" multiple />
				<input type="submit" value="Subir" /><br><br>
				<input type="reset" value="Cancelar" />
			</form>
		</div>
	</center>
	<br><br><br>
	<footer id="main-footer">
		<p>Copyright &copy;2021 | Propiedad de <a href="https://github.com/JvRdgz">Javier Rodriguez Montero</a></p>
	</footer>
</body>

</html>