<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('partials/head'); %>
		<div class="imageheader">
			<a href="/profile" title="Perfil">
				<img src="/img/Logo_Mysky_Javi.png" alt="Perfil" width="120" height="80">
			</a>
		</div>
		<!-- <form action="/logout" method="GET">
			<div class="logout">
				<div style="text-align:center;">
					<input type="submit" value="Cerrar sesion" class="button">
				</div>
			</div>
		</form> -->
		<title>Archivo subido</title>
</head>

<body class="profile">
	<br><br><br><br>
	<center>
		<tr>
			<td>
				<h1 class="texto">GUARDADO CON EXITO!</h1><br><br>
			</td>
		</tr>
		<script>
			setTimeout('history.back()',2000);
		</script>
		<!-- <div class="volver">
			<div style="text-align:center;">
				<a href="/profile" class="button">
					<span class="fa fa-user">Volver</span>
				</a>
			</div>
		</div> -->
	</center>
	<br><br><br>
	<footer id="main-footer">
		<p>Copyright &copy;2021 | Propiedad de <a href="https://github.com/JvRdgz">Javier Rodriguez Montero</a></p>
	</footer>
</body>

</html>